<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty name="prettyPrint" scope="context" source="logging.json.pretty.enabled" defaultValue="false"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <if condition='${prettyPrint}'>
                <then>
                    <jsonGeneratorDecorator class="net.logstash.logback.decorate.PrettyPrintingJsonGeneratorDecorator"/>
                </then>
            </if>
            <providers>
                <timestamp>
                    <fieldName>timestamp</fieldName>
                </timestamp>
                <threadName>
                    <fieldName>thread</fieldName>
                </threadName>
                <logLevel/>
                <loggerName>
                    <fieldName>logger</fieldName>
                </loggerName>
                <mdc/>
                <message/>
                <arguments/>
                <logstashMarkers/>
                <stackTrace>
                    <fieldName>exception</fieldName>
                </stackTrace>
            </providers>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
